@import url('http://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,500');

body {
    font-family: 'Noto Sans Japanese', 'Roboto', sans-serif; 
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans Japanese', 'Roboto', sans-serif; 
    font-weight: bold;
    word-break: keep-all;
}

b, strong, th {
    font-weight: bold;
}

li li {
    font-size: 85%;
}

ul ul, ol ul {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

ol li, ul li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
